body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #002347; /*д.б. #002347, плохо сочетается с фоном неоновых стрелок; */  /* #000102 --- стоял изначально */
    color: #fff;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    /*
    background-color: red
    */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prompt', sans-serif;
    font-weight: 800;
    line-height: 140%;
    margin: 0;
}

p, 
.casino_name_link p {
    line-height: 140%;
    opacity: 0.8;
    margin-bottom: 0.625rem;
}

.best_casinos_list, 
.games, 
.most_popular, 
.reviews, 
.faq, 
.affiliate_programs {
    margin-bottom: 150px;
}



/* --- Шапка --- */ 

header {
    background-image: url(../images/backgrounds/australia_header_background.png);
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
    height: 853px;
}

.upper_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.burger_icon, 
div.phones_adaptive_menu {
    display: none;
}

i.burger {
    position: absolute;
}

.pokies_best_logo {
    background-image: url(../images/logos/pokies_best_logo.png);
    background-repeat: no-repeat;
    width: 87px;
    height: 63px;
    transition: 0.7s;
}

.pokies_best_logo:hover {
    transform: scale(1.2) translateX(10px);
    filter: opacity(0.6);
}

.bttn_border_gradient {
    background: linear-gradient(90deg, #00B09B 0%, #96C93D 100%);
    padding: 1px; /* Толщина границы */
    min-height: 56px;
    border-radius: 3px;
}

.bttn_background {
    background: #002347;
}

.bttn {
    padding: 20px 50px;
    text-transform: capitalize;
    font-weight: 600;
}

.bttn_border_gradient, 
.bttn_background, 
.bttn {
    display: inline-block;
}

#header_bttn {
    background: #000f22;
}

.navigation_links {
    text-transform: capitalize;
}

.navigation_links a {
    margin-right: 50px;
}

.navigation_links a:nth-child(3) {
    margin-right: 0;
}

.navigation_links a:hover {
    color: #96C93D;
    border-bottom: 3px solid #96C93D;
	padding-bottom: 20px;
    transition: 0.4s
}

.navigation_links a, 
.bttn {
    text-decoration: none;
    color: #fff;
}

.bttn:hover,
#header_bttn:hover {
    background: linear-gradient(90deg, #00B09B 0%, #96C93D 100%);
    box-shadow: 2px 2px 30px #87C646;
    transition: 0.1s;
}

.description {
    display: flex;
    align-items: center;
    margin-top: 120px;
}

h1, 
.description p {
    width: 50%;
}

h1 {
    font-size: 3.4375rem;    
}

.select:hover {
    cursor: pointer;
}



/* --- Баннер --- */ 

.neon_arrows {
    background-image: url(../images/backgrounds/after_header_group_arrows.svg);
    height: 1018px;
}

.banner {
    background-image: url(../images/backgrounds/banner_australia.png);
    height: 684px;
}

.neon_arrows, 
.banner {
    background-repeat: no-repeat;
    background-position: center center;
}

.banner h2, 
.banner_flex_contain, 
.casino_raiting_like, 
.banner_casino_description, 
.welcome_bonus, 
.welcome_banner .bttn_border_gradient {
    position: relative;
}

.banner h2 {
    text-align: center;
    font-size: 1.875rem;
    max-width: 310px; /* 320px при посадке на WP */
    top: 155px;
    left: 440px;
    margin: 0; /* отменяет действие mrgn-bttm=70px для всех h2 */
    display: inline-block;
}

.banner_flex_contain {
    display: flex;
    left: 400px;
    top: 190px;
    width: 0;
    justify-content: ;
    margin: 0;
    padding: 0;
}

.banner_casino_logo {
    background-image: url(../images/logos/jackpotcity_logo_with_fx.png);
    height: 175px;
    width: 175px;
}

.banner_casino_logo:hover {
    transform: scale(1.2);
    filter: sepia(0.9);
    transition: 0.5s;
}

.rating {
    width: 140px;
    height: 20px;
    border-radius: 10px;
    background-color: #E7D325;
    text-align: center;
    margin-bottom: 30px;
}

.rating span {
    margin-right: 5px;
}

.casino_raiting_like {
    background-image: url(../images/icons/best_casino_like.png);
    display: inline-block;
    width: 14px;
    height: 14px;
    top: 2px;
}

h4 {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 10px;
}

.banner_casino_description {
    top: 20px;
}

.welcome_bonus {
    left: 50px;
}

.welcome_bonus p {
    opacity: 1;
    font-weight: 600;
}

.play_now_bttn {
    background: linear-gradient(90deg, #00B09B 0%, #96C93D 100%);
}

.play_now_bttn:hover {
    box-shadow: 2px 2px 30px #87C646;
    transition: 0.1s;
}

.welcome_banner .bttn_border_gradient {
    bottom: 140px;
    left: 400px;
}

/* 
Выравнивание изображений внутри контейнеров
*/

.banner_casino_logo, 
.casino_raiting_like {
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
}



/* --- Best Casino --- */

h2 {
    font-size: 3rem;
    margin-bottom: 70px;
}

.casino_list_item_contain {
    background: linear-gradient(91.6deg, #00173B 0%, #0D3054 100%);
    border-radius: 10px;
}

.casino_list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: ; /* wrap */
    margin: 30px 50px;
    padding: 30px;
    text-align: center;
}

.list_number p {
    font-family: 'Prompt', sans-serif;
	font-size: 2.25rem;
	opacity: 0.5;
    width: 40px; /* для выравнивания */
    max-width: 150px;
}

.casino_name {
    width: 120px; /* для выравнивания */
}

.casino_name_link {
    text-decoration: none;
}

.casino_name_link p {
    color: #fff;
}

.casino_name_link p:hover {
    color: #fd8607;
    /*font-weight: 600;*/
    transition: 2s;
}

.under_logo_rating {
    display: none;
}

.rating_5_0, 
.rating_4_0, 
.rating_3_0,
.rating_2_0,
.rating_1_0 {
    width: 141px;
    height: 21px;
}

.rating_5_0 {
    background-image: url(../images/icons/rating_5.0.png);
}

.rating_4_0 {
    background-image: url(../images/icons/rating_4.0.png);
}

.bonus_image {
    background-image: url(../images/icons/welcome_bonus_icon.png);
    width: 46px;
    height: 45px;
}

.games_count_image {
    background-image: url(../images/icons/games_icon.png);
    width: 45px;
    height: 45px;
}

.casino_name_image, 
.bonus_image, 
.games_count_image {
    margin: 0 auto;
}

.casinos_list_bttn {
    display: flex;
    flex-direction: column;
}

.casinos_list_bttn .bttn_border_gradient {
    margin-bottom: 20px;
}

.casinos_list_bttn .bttn_border_gradient:last-child {
    margin-bottom: 0;
}

.bttn_center_alignment { /* выравнивание кнопок по центру */
    width: 100%;
    text-align: center;
}

.casino_name_image, 
.amount, 
.count {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.best_casinos_list .bttn_center_alignment {
    margin-top: 50px;
}

.bonus {
    position: relative;
}

/*
.bonus p:last-child::after {
    content: "";
    display: inline-block;
    background-image: url(../images/icons/question_mark.png);
    width: 20px;
    height: 20px;
    margin-left: 10px;
    position: relative;
    top:3px;
    cursor: pointer;
}
*/

.tooltip {
    display: inline-block;
    background-image: url(../images/icons/question_mark.png);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 93px;
    left: 140px;
}

.tooltip .tooltiptext {
    /* Текст подсказки */
    visibility: hidden;
    width: 210px;
    background-color: #C24A97;
    padding: 20px 15px;
    border-radius: 5px;
    line-height: 140%;

    /* Расположение текста подсказки */
    position: absolute;
    top: 35px;
    left: -200px;
    opacity: 0;
    transition: opacity 1.2s;
}

/* Подсказка стрелка */
.tooltip .tooltiptext::after {
    /* положение */
    position: absolute;
    top: -10px;
    right: 20px;
    /* форма */
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #C24A97 transparent;
}

    /* Отображение текста подсказки при наведении курсора на контейнер подсказки */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}

.casinos_list {
	overflow: hidden;
	position: relative;    
}

.casinos_list.hide {
	height: 955px;
}

.best_casinos_list .bttn_center_alignment {
    padding-top: 20px;
}



/* --- Games List --- */

.games {
    display: flex;
    justify-content: space-between;
}

.games h2 {
    display: none;
}

.slot_machine {
    background-image: url(../images/games/slot_machine.png);
    width: 683px;
    height: 639px;
    position: relative;
    bottom: 50px;
    right: 50px;
}

.games_list {
    text-align: center;
    background-color: ;
    width: 685px;
}

.games_list_images {
    height: 385px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.games_list_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.games_list_item {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 2px solid transparent; /* убирает сдвиг при наведении */
}

.games_list_item a img {
    width: 170px;
    height: 170px;
}

.games_list_item:nth-child(3n) {
    margin-right: 0;
}

.games_list_item:hover {
    background-color: #000102;
    /*
    mix-blend-mode: luminosity;
    */
    border-radius: 10px;
    box-sizing: border-box;
    border-color: #00B09B;
    transform: scale(1.05) perspective(250px) rotateY(5deg);
    filter: sepia(0.7);
    transition: 0.5s;
}

.games_list .bttn_border_gradient {
    margin-top: 40px;
}

.games_search, 
.select_category {
    border-color: #00B09B;
    border-radius: 10px;
    background: linear-gradient(91.6deg, #0D2C5E 0%, #173E66 100%);
    opacity: 0.8;
    color: #fff;
    padding: 16px 10px;
    width: 260px;
}

.select_category {
    text-transform: capitalize;
    background-color: #173E66;
    cursor: pointer;
}

.select_category option {
    margin: 15px;
}



/* --- Popular --- */

.most_popular {
    display: flex;
    justify-content: space-around;
}

.most_popular h3 {
    font-size: 1.25rem;
    line-height: 140%;
    width: 240px;
    text-align: center;
    margin: 0 auto;
}

.weeks_biggest_win, 
.most_popular_game {
    position: relative;
}

.weeks_biggest_win_contain_box, 
.most_popular_game_contain_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weeks_biggest_win_casino_logo {
    background-image: url(../images/most_popular/ruby_fortune_logo_with_fx.png);
    width: 137px;
    height: 137px;
}

.biggest_win {
    background-image: url(../images/most_popular/biggest_win.png);
    width: 176px;
    height: 72px;
}

.weeks_biggest_win_casino_logo,
.most_popular_game_logo {
    background-size: contain;
}

.background_left_arrow,
.background_right_arrow {
    position: absolute;
    background-repeat: no-repeat;
}

.background_left_arrow {
    background-image: url(../images/most_popular/neon_border_left.svg);
    width: 550px;
    height: 823px;
    top: -200px;
    left: -180px; 
    z-index: -1;
    background-size: 120%;
}

.most_popular .bttn_border_gradient {
    margin-top: 10px;
}

.most_popular_game_logo {
    background-image: url(../images/most_popular/Untamed_Bengal_Tiger.png);
    width: 155px;
    height: 155px;
}

.most_popular_game_contain_box h3 {
    max-width: 80px;
}

.background_right_arrow {
    background-image: url(../images/most_popular/neon_border_right.svg);
    width: 550px;
    height: 915px;
    top: -340px;
    left: -70px; 
    z-index: -1;
    background-size: 100%; 
}



.most_popular_game .bttn_border_gradient {
    margin-top: -8px;
}

.weeks_biggest_win_casino_logo:hover, 
.most_popular_game_logo:hover, 
.casino_name_image:hover {
    /*
    mix-blend-mode: luminosity;
    */
    transform: scale(1.2);
    filter: sepia(0.7);
    transition: 0.5s;
}



/* --- Reviews --- */ 

.reviews h2 {
    margin-bottom: 30px;
}

.reviews .filters {
    margin-bottom: 50px;
    font-size: 1.125rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.select_casino {
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 3px;
}

.review_contain {
    background: linear-gradient(to bottom, #00173B 0%, #0D3054 100%);
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: 30px;
}

.avatar {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 166px;
    height: 66px;
    margin-left: 25px;
    margin-right: 25px;
}

#review_1 {
    background-image: url(../images/avatars/default_avatar_photo_1.png);
}

#review_2 {
    background-image: url(../images/avatars/default_avatar_photo_2.png);
}

#review_3 {
    background-image: url(../images/avatars/default_avatar_photo_3.png);
}

.name_and_date {
    display: inline-block;
    min-width: 150px;
    background-color: ;
    padding-top: 10px;
}

.reviewers_name {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
}

.reviews_date {
    margin-top: 0;
}

.reviews_like, 
.reviews_like_half {
    width: 14px;
    height: 14px;
}

.reviews_like {
    background-image: url(../images/icons/reviews_like.png);
}

.reviews_like_half {
    background-image: url(../images/icons/reviews_like_half.png);
}

.casino_rating {
    padding-left: 20px;
}

.casino_rating_element {
    display: inline-block;
}

.adaptive_casino_rating {
    display: none;
}

.content_block {
    width: 95%;
}

.content_block p {
    padding: 20px;
}

.reviews_bttns {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.reviews_date {
    opacity: 0.5;
}

/* скрытие текста */

.content_block {
	overflow: hidden;
	position: relative;    
}

.content_block.hide {
	height: 75px;
}

.content_block.hide:after{
	content: "";
	display: block;
	height: 30px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
    /*
	background-image: linear-gradient(to bottom, #00173B 0%, #0D3054 40%);
    */
}

/* Ссылка-Кнопка */

.content_toggle {
	display: inline-block;
	padding: 15px 20px;
	text-decoration: none;
	color: #fff;
    margin-top: 20px;
	margin-bottom: 20px;
    text-decoration: underline;
    opacity: 0.5;
    transition: 0.2s;
}

.content_toggle:hover {
	color: #fff;
	background-color: #a776c8;
    border-radius: 5px;
    opacity: 1;
}
.content_toggle:active {
	background: #34106d;
}


/* --- переключение отзывов --- */  
            
            
/* Контейнер отзывов */
.slideshow_container {
    position: relative;
    margin: auto;
}            

.mySlides {
    display: none;
}

/* Вперёд и назад кнопки */

.prev {
    background-image: url(../images/icons/arrow_left_icon.png);
    left: -10%; /* Положение "prev кнопки" слева */
}       

.next {
    background-image: url(../images/icons/arrow_right_icon.png);
    right: -10%; /* Положение "next кнопки" справа */
}

.prev, .next {
    width: 47px;
    height: 47px;
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
    position: absolute;
    top: 50%; /* выравнивание по центру блока */

    margin-top: -22px;
    padding: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    opacity: 0.7;
    filter: sepia(0.4);
}

/* --- Точки / круги --- */
.dot_contain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 5px;
    border: 1px solid #A776C8;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    /*
    display: none;
    */
}

.reviews .active {
    background-color: #A776C8;
    height: 11px;
    width: 11px;
}

.dot:hover {
    background-color: #717171;
    height: 10px;
    width: 10px;
    transition: 0.2s ease;
}

/* Анимация исчезновения */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .3}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .3}
    to {opacity: 1}
}

.name_and_date_adaptive {
    display: none;
}


/* Фильтры */

.casino_detail_tag {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 5px 20px 6px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid #A776C8; 
    border-radius: 3px;
    transition: background 0.5s ease-in-out;
}

.filter_billets_item {
    margin-right: 10px;
}

.filter_billets_item::after {
    content: "";
    background-image: url(../images/icons/filter_close.png);
    width: 15px;
    height: 16px;
    display: inline-block;
    position: relative;
    left: 12px;
    top: 3px;
}

.casino_detail_tag:hover {
    background: linear-gradient(180deg, #C93F8B 0%, #A776C8 100%);
    transition: background 2s;
}

.filter_billets {
    display: block;
    margin-right: auto; /* выравнивание по левому краю */
    margin-left: 20px;
}

/* ^^^ Фильтры ^^^ */



/* --- FAQ --- */

.faq {
    background-image: url(../images/backgrounds/elizabeth-quay-bridge-MU3L5JB%201.png);
    height: 1078px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.accordion {
    display: block;
    width: 550px;
    background-color: #000102;
    opacity: 0.7;
    color: #fff;
    font-size: 1.125rem;
    cursor: pointer;
    padding: 1rem;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    margin-bottom: 5px;
}

.active,
.accordion:hover {
    background-color: #002347; 
}

.accordion:after {
    content: '';
    background-image: url(../images/icons/accord_opening.png);
    width: 25px;
    height: 25px;
    float: right;
}

.active:after {
    content: '';  /* "\2212" */
    background-image: url(../images/icons/accord_closing.png);
    width: 17px;
    height: 17px;
}

.panel {
    padding: 0;
    display: none;
    background-color: #000102;
    overflow: hidden;
    width: 550px;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.faq h2 {
    padding-top: 75px;
    margin-bottom: 0;
}

.faq_bttns {
    display: inline-block;
    width: 550px;
    text-align: center;
    margin-top: 20px;
}

.faq_bttns .bttn_border_gradient, 
.bttn_center_alignment .bttn_border_gradient, 
.reviews_bttns .bttn_border_gradient {
    margin-right: 20px; /* расстояние между кнопками */
}

.faq_bttns .bttn_border_gradient:last-child, 
.bttn_center_alignment .bttn_border_gradient:last-child, 
.reviews_bttns .bttn_border_gradient:last-child {
    margin-right: 0; /* убирается отступ крайней правой кнопки */
}

.faq .wrapper {
    display: flex;
    justify-content: flex-start;
}

.australian_flag {
    background-image: url(../images/backgrounds/australia_flag.png);
    width: 228px;
    height: 228px;
    display: none;
    position: relative;
    left: 100px;
    top: 50px;
}

.australia {
    background-image: url(../images/backgrounds/australia.png);
    width: 242px;
    height: 242px;
    display: none;
    position: absolute;
    left: 600px;
    bottom: -100px;
}



/* --- Affiliate Programs --- */

.affiliate_programs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.affiliate_programs_img {
    background-image: url(../images/backgrounds/brisbane-australia-dec-23-2016-colorful-fireworks--P55CDF6%201.png);
    width: 458px;
    height: 635px;
    background-repeat: no-repeat;
    background-size: cover;
}

.affiliate_programs p {
    max-width: 650px;
}



/* --- Подвал --- */

footer {
    display: flex;
    justify-content: space-between;
   	align-items: flex-start;
    padding-bottom: 85px;
}

footer h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.subscribing {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.footer_navigation_links {
    list-style-type: none;
    margin-top: 0;
}

.footer_navigation_links li a:hover {
    border-bottom: 3px solid #CBA982;
	padding-bottom: 5px;
    color: #96C93D;
    border-bottom: 3px solid #96C93D;
}

.footer_navigation_links li {
    margin-top: 15px;
}

.footer_navigation_links li:first-child {
    margin-top: 0;
}

.email_subscribing_bttn {
    margin-top: 20px;
}

.email_subscribing_bttn:hover {

}

.email_input {
    padding: 15px 10px;
    border-color: #00B09B;
    border-radius: 10px;
    background: linear-gradient(91.6deg, #0D2C5E 0%, #173E66 100%);
    opacity: 0.8;
    color: #fff;    
}

.subscribing .bttn_border_gradient {
    margin-top: 20px;
}

.upper_bttn {
    background-image: url(../images/icons/upper_bttn.png);
    width: 55px;
    height: 55px;
}

.upper_bttn:hover {
    filter: opacity(0.82);
    transition: 0.5s;
}

.adaptive_subscribing {
    display: none;
}

.adaptive_subscribing_ipad_pro_vert {
    display: none;
}

.subscribing_footer {
    margin-top: -100px; /* уменьшает отступ до низа страницы */
}




/* Тень для нескольких элементов */

.burger_icon, 
.email_input,
.games_search, 
.review_contain,
.select_category, 
.casino_list_item_contain {
	box-shadow: 10px 10px 20px rgba(0, 23, 59, 0.25), -10px -10px 20px rgba(13, 48, 84, 0.25);
}



/* --- Адаптив --- */

@media (max-width: 1194px) {
    
    .wrapper {
        max-width: 960px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: ;
    }
    
    header {
        height: 820px;
    }
    
    .best_casinos_list,  
    .reviews, 
    .affiliate_programs {
        margin-bottom: 100px;
    }
    
    .games {
        margin-bottom: 200px;
    }

    .description {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 120px;
    }

    .description p {
        width: 570px;
    }

    h1 {
        width: 100%; 
        font-size: 2.5rem;
    }

    .neon_arrows {
        background-image: url(../);
        height: 750px;
    }

    .welcome_banner .banner {
        width: 100%
    }
    
    .banner h2 {
        left: 380px;
    }   

    .banner_flex_contain {
        left: 310px;
        top: 185px;
    }   
    
    .welcome_banner .bttn_border_gradient {
        left: 320px;
    }
    
    h2 {
        font-size: 2.25rem;
    }
    
    h1, h2 {
        margin-bottom: 50px;
    }
    
    .casinos_list.hide {
        height: 830px;
    }
    
    .casino_list_item {
        margin: 30px 0px;
        padding: 20px;
    }
    
    .casino_name_link {
        display: none;
    }
    
    .bonus, 
    .games_count {
        display: flex;
        align-items: center;
    }
    
    .amount, 
    .amount + p {
        width: 80px;
        text-align: left;
    }
    
    .bonus_image, 
    .games_count_image {
        margin-right: 10px;
    }
    
    .tooltip {
        top: 70px;
        left: 115px;
    }
    
    .weeks_biggest_win_casino_logo {
        width: 110px;
        height: 110px;
    }

    .most_popular_game_logo {
        width: 130px;
        height: 130px;
    }
    
    .slot_machine {
        background-image: url(../images/games/slot_machine.png);
        height: 440px;
        width: 372px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
    }
    
    .games_list_images {
        height: 360px;
    }
    
    .games_list_item a img {
        width: 135px;
        height: 153px;
    }
    
    .background_left_arrow {
        width: 190%;
        left: -180px;
        top: -230px;
    }
    
    .background_right_arrow {
        width: 220%;
        left: -60px;
        top: -340px;
    }
    
    .name_and_date {
        display: none;
    }
    
    .name_and_date_adaptive {
        display: flex;
        align-items: baseline;
        padding-left: 20px;
        padding-top: 0;
    }
    
    .reviewers_name, .adaptive_casino_rating {
        margin-right: 10px;
    }
    
    .casino_rating {
        display: none;
        padding-left: 0;
    }
    
    .adaptive_casino_rating {
        display: block;
    }
    
    .australia, 
    .australian_flag {
        display: block;
    }
    
    .faq {
        background-image: url(../); /* убирает фон */
        height: auto; /* подгоняет высоту по содержимому контейнера */
    }

    .affiliate_programs_img {
        width: 307px;
        height: 425px;
    }
    
    .desktop_subscribing {
        display: none;
    }
    
    .adaptive_subscribing {
        display: block;
    }
    
    .dot {
        display: inline-block;
    }
    
    .prev, .next {
        display: none;
    }
    
    .affiliate_programs_description p {
        font-size: 0.875rem;
        max-width: 590px;
        /*
        margin-right: 65px;
        */
        
    }
    
} /* ^^^ 1194px ^^^ */



@media (max-width: 1110px) {
    
    wrapper {
        max-width: 900px;
    }
    
    header {
        background-position: left;
        height: 820px;
    }
    
    .description {
        margin-top: 80px;
    }
    
    .rating_5_0, .rating_4_0 {
        display: none;
    }
    
    .under_logo_rating {
        display: block;
    }
    
    .casino_name {
        margin: 0 auto;
    }
    
    .background_left_arrow {
        top: -160px;
        left: -110px;
    }
    
    .background_right_arrow {
        top: -220px;
        left: -50px;
    }
    
    .background_left_arrow, 
    .background_right_arrow {
        background-size: contain;
        max-width: 180%
    }
    
}  /* ^^^ 1110px ^^^ */



@media (max-width: 948px) {
    
    .games_list_images {
        height: 360px;
    }
    
    .banner h2 {
        left: 320px;
    }
    
    .banner_flex_contain, 
    .welcome_banner .bttn_border_gradient {
        left: 280px;
    }   
    
} /* ^^^ 948px ^^^ */



@media (max-width: 880px) {
    
    .banner h2 {
        left: 300px;
    }
    
    .banner_flex_contain, 
    .welcome_banner .bttn_border_gradient {
        left: 250px;
    }  
    
    
} /* ^^^ 880px ^^^ */



@media (max-width: 834px) {
    
    .wrapper {
        max-width: 720px;
    }

    h1 {
        width: 480px;
    }
    
    h2,
    .reviews h2,
    .faq h2 {
        margin-bottom: 20px;
    }
    
    .affiliate_programs h2 {
        margin-bottom: 50px;
    }
    
    .bttn {
        font-size: 0.875rem;
    }
    
    .amount + p, 
    .count + p {
        font-size: 0.875rem;
    }
    
    .tooltip {
        top: 65px;
        left: 110px;
    }
    
    .slot_machine {
        display: none;
    }
    
    .casino_detail_tag {
        font-size: 0.875rem;
    }
    
    .games_list {
        width: 100%
    }
    
    .games_list_images {
        width: 100%;
        padding: 5px;
    }
    
    .games_list_item a img {
        width: 160px;
        height: 160px;
    }
    
    .games, 
    .games h2 {
        display: block;
    }
    
    .most_popular h3 {
        font-size: 1rem;
        width: 190px;
    } 
    
    .background_left_arrow {
        max-width: 190%;
        top: -150px;
        left: -100px;
    }
    
    .background_right_arrow {
        width: ;
        top: -170px;
        left: -55px;
    }
    
    .weeks_biggest_win_casino_logo {
        width: 100px;
        height: 100px;
    }

    .most_popular_game_logo {
        width: 100px;
        height: 100px;
    }
    
    .most_popular_game .bttn_center_alignment {
        margin-top: 10px;
    }
    
    .biggest_win {
        width: 140px;
        height: 58px;
        background-size: cover;
    }
    
    .avatar {
        width: 290px;
    }
    
    .australia, 
    .australian_flag {
        width: 180px;
        height: 180px;
        background-size: cover;
        background-position: center;
    }
    
    .australian_flag {
        left: 0px;
    }
    
    .australia {
        left: 550px;
    }
    
    .adaptive_subscribing {
        display: none;
    }
    
    .adaptive_subscribing_ipad_pro_vert {
        display: block;
    }
    
    .subscribing_wrapper_flex_box .subscribing {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    
    .adaptive_subscribing_ipad_pro_vert .email_input {
        margin-right: 20px;
    }
    
    .welcome_banner {
        position: relative;
        left: -30px;
    }
    
    .banner h2 {
        left: 230px;
    }
    
    .banner_flex_contain, 
    .welcome_banner .bttn_border_gradient {
        left: 190px;
    }
    
    .welcome_banner div.banner {
        position: relative;
        left: -40px;
        width: 105%;
    }
    
    .subscribing_footer {
        margin-top: -60px;
    }
    
    .games_list_images {
        height: 360px;
    }
    
} /* ^^^ 834px ^^^ */


@media (max-width: 720px) {
    
    .wrapper {
        max-width: 700px;
    }
    
    .background_right_arrow {
        left: -60px;
    }
    
    .avatar {
        width: 290px;
    }
    
    .accordion, .faq p {
        width: 400px;
    }
    
    .faq_bttns {
        width: 211px;
    }
    
    .faq_bttns .bttn_border_gradient {
        width: 100%;
        text-align: center;
        margin-left: 45%;
        margin-bottom: 30px;
    }
    
    .australia, 
    .australian_flag {
        position: absolute;
        left: 420px;
    }
    
    .welcome_banner {
        left: 0; /* отменяет выравнивание для 834px */
    }
    
    .welcome_banner .banner {
        position: relative;
        right: 50px;
        width: 105%;
    }
    
    .banner h2 {
        left: 230px;
    }
    
    .banner_flex_contain, 
    .welcome_banner .bttn_border_gradient {
        left: 190px;
    }
    
} /* ^^^ 720px ^^^ */



@media (max-width: 670px) {
    
    .bonus, 
    .games_count {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .casino_list_item {
        flex-wrap: wrap;
    }

    .casinos_list_bttn {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 40px;
        margin: 10px auto;
        margin-top: 30px;
    }
    
    .tooltip {
        display: ; /* none */
        top: 111px;
        left: 70px;
        z-index: 9999;
    }
    
    .amount + p {
        text-decoration: underline;
        text-decoration-style: dashed;
    }
    
    .amount, 
    .amount + p,
    .games_count, 
    .games_count + p {
        text-align: center;
    }
    
    .casinos_list_bttn .bttn_border_gradient {
        margin-left: 30px;
    }

    .casinos_list_bttn .bttn_border_gradient:last-child {
        margin-left: 0;
    }
    
    .casinos_list.hide {
        height: 1295px;
    }
    
    .games h2 {
        margin-bottom: 20px;
    }
    
    .games_list_menu {
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
        align-items: flex-start;
    }    
    
    .welcome_banner .banner {
        right: 130px;
        width: 125%;
    }
    
    .banner h2 {
        left: 250px;
    }
    
    .banner_flex_contain {
        left: 210px;
    }
    
    .welcome_banner .bttn_border_gradient {
        left: 90px;
    }
    
    

}  /* ^^^ 670px ^^^ */
    


@media (max-width: 568px) {
    
    .wrapper {
         max-width: 460px;
    }
    
    /* --- Мобильное меню --- */
    
    .burger_icon {
        display: block;
        color: #fff;
        font-size: 1.4rem;
    }
    
    .burger_icon:hover {
        opacity: 0.8;
        color: #96C93D;
    }
    
    div.phones_adaptive_menu {
        display: inline-block;
    }
    
    .desktop_tablet_menu {
        display: none;
    }
    
    .upper_header.topnav {
        background: transparent;
    }
    
    /*
    .pokies_best_logo.desktop_tablet_menu {
        visibility: hidden;
    }
    */
    
    /* Стиль меню навигации */
    .topnav {
        overflow: hidden;
        /*
        background: linear-gradient(to bottom, #000B1C 0%, #014D76 100%);
        */
        position: relative;
    }
    
    .upper_header {
        align-items: flex-start;
        padding-top: 20px;
        text-align: center;
    }
    
    .upper_header .navigation_links a {
        margin: 0 auto;
    }
    
    .upper_header .navigation_links {
        margin-right: 60px;
    }
    
    #header_bttn_ph_adapt {
        background: #000f22;
    }

    /* Скрыть ссылки внутри меню навигации (кроме главной/логотип) */
    .topnav #myLinks {
        display: none;
    }

    /* Ссылки меню навигации по стилю */
    .topnav a {
        display: block;
    }
    
    .upper_header .navigation_links a {
        padding-bottom: 15px;
        border-bottom: none;
    }
    
    .upper_header .navigation_links .bttn_border_gradient a {
        padding: 20px 50px;
    }
    
    /* ^^^ Мобильное меню ^^^ */
   
    
    header {
        height: 570px;
        background-position: 80%;
    }
    
    .description {
        margin-top: 20px;
    }
    
    h1 {
        font-size: 1.5rem;
        width: 300px;
        margin-bottom: 10px;
    }
    
    .description p {
        font-size: 0.75rem;
        width: 280px;
    }
        
    h2 {
        font-size: 1.25rem;
        margin-bottom: 40px;
    }
    
    .best_casinos_list h2 {
        margin-bottom: 10px;
    }
    
    .select_games {
        margin: 20px auto;
    }
    
    .most_popular h3 {
        font-size: 1.25rem;
    }
    
    .games_list_item a img {
        width: 130px;
        height: 130px;
    }
    
    .games_list_images {
        height: 295px;
    }
    
    .games .bttn_border_gradient {
        margin-top: 20px;
    }
    
    .most_popular {
        display: flex;
        flex-direction: column;
    }
    
    .most_popular_game {
        margin-top: 200px;
    }
    
    .weeks_biggest_win_contain_box, 
    .most_popular_game_contain_box {
        justify-content: center;
    }

    div.background_left_arrow {
        background-size: 130% auto;
        background-position: center center;
        width: 100%;
        top: -110px;
        left: 0;
    }
    
    div.background_right_arrow {
        background-size: 90% auto;
        background-position: center center;
        max-width: 90%;
        top: -110px;
        left: 45px;
    }
    
    .avatar {
        width: 390px;
    }
    
    .reviews .filters {
        flex-direction: column;
    }
    
    .select_casino {
        margin-top: 20px;
    }
    
    .name_and_date_adaptive {
        flex-wrap: wrap;
        width: 74%;
    }
    
    .content_block p {
        padding: 0 20px;        
    }
    
    .faq p, 
    .accordion {
        width: 300px;
    }
    
    .australian_flag {
        left: 320px;
        width: 160px;
        height: 160px;
    }
    
    .australia {
        left: 320px;
        width: 130px;
        height: 130px;
    }
    
    .affiliate_programs {
        flex-direction: column;
    }

    .affiliate_programs_img {
        width: 100%;
        height: 635px;
    }

    .affiliate_programs p {
        max-width: 650px;
    }
    
    .links_footer .pokies_best_logo {
        margin-bottom: 40px;
        margin-left: 40px;
    }
    
    .pokies_best_logo:hover {
        transform: translateX(0);
        filter: opacity(0.6);
    }
  
    .links_footer {
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    
    .subscribing_wrapper_flex_box .subscribing {
        flex-direction: column;
        align-items: baseline;
    }
    
    .adaptive_subscribing_ipad_pro_vert {
        margin-left: 40px;
    }
        
    .upper_bttn {
        position: relative;
        top: 200px;
        right: 50px;
        box-shadow: 10px 10px 20px rgba(0, 23, 59, 0.25), -10px -10px 20px rgba(13, 48, 84, 0.25);
    }
    
    .email_input {
        width: 90%
    }
    
    .most_popular {
        margin-bottom: 70px;
    }
    
    .games {
        margin-bottom: 150px;
    }
    
    .welcome_banner {
        height: 420px;
    }
    
    .banner {
        background-image: url(../images/backgrounds/welcome_banner_adaptive_phones.svg);
        background-size: 469px 357px;
        height: 357px;
        left: -90px
    }
    
    .banner h2 {
        left: 210px;
        top: 130px;
        font-size: 0.875rem;
        width: 170px;
        text-align: left;
    }
    
    .banner_flex_contain {
        left: 190px;
        top: 130px;
        width: 0px;
        padding: 0;
        margin: 0;
    }
    
    .banner_casino_logo {
        height: 90px;
        width: 90px;
    }
    
    .banner_casino_description {
        position: relative;
        top: 10px;    
    }
    
    .banner_casino_description h4 {
        display: none;
    }
    
    .welcome_banner .bttn_border_gradient {
        left: 130px;
        top: -60px;
    }

    .welcome_bonus {
        left: 0;
    }
    
    .welcome_bonus :last-child {
        font-size: 0.75rem;
    }
    
    .rating {
        width: 120px;
        height: 20px;
        border-radius: 10px;
        background-color: #E7D325;
        text-align: center;
        margin-bottom: 0px;
    }
    
    .rating span {
        font-size: 0.625rem;
    }
    
    .welcome_bonus p {
        margin: 5px;
    }
    
    .casino_raiting_like {
        width: 12px;
        height: 12px;
        top: 2px;
    }
    
    .banner h2 {
        left: 210px;
        top: 130px;
        font-size: 0.875rem;
        width: 170px;
        text-align: left;
    }
    
    .banner_flex_contain {
        left: 190px;
        top: 130px;
        width: 0px;
        padding: 0;
        margin: 0;
    }
    
    .links_footer {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .links_footer .pokies_best_logo {
        position: relative;
        left: -30px;
    }
    
    .footer_navigation_links {
        margin: 0 auto 20px;
        padding: 0;
    }
    
    .filter_billets {
        margin-top: 10px;
        margin-left: 0;
    }
    
} /* ^^^ 568px ^^^ */



@media (max-width: 472px) {
    
    .casinos_list.hide {
        height: 1380px;
    }
    
    .upper_bttn {
        top: -200px;
        left: 145px;
    }
    
    div.background_left_arrow,
    div.background_right_arrow {
        
    }   
    
    .banner {
        left: -60px;
    }

    .banner h2 {
        left: 185px;
    }
    
    .banner_flex_contain {
        left: 165px;
    }
    
    .australia, 
    .australian_flag {
        display: none;
    }
    
} /* ^^^ 472px ^^^ */



@media (max-width: 420px) {
    
    .casino_list_item {
        justify-content: center;
        align-items: flex-start
    }
    
    .casinos_list.hide {
        height: 2010px;
    }   
    
    .games_list_images {
        height: 595px;
    }
    
    .list_number + div {
        width: 68%;
        margin-bottom: 40px;
    }
    
    .bonus {
        margin-right: 100px;
    }
    
    .under_logo_rating {
        margin: 0 auto;
    }
    
    .affiliate_programs_img {
        width: 100%;
        margin-top: 20px;
    }
    
    .best_casinos_list {
        margin-bottom: 70px;
    }
    
    .reviews {
        margin-bottom: 0;
    }

    .avatar {
        background-position: center top;
    }
    
    .bttn_center_alignment {
        margin-top: 20px;
    }
    
    .best_casinos_list .bttn_center_alignment {
        margin-top: 0;
    }
    
    .bttn {
        padding: 20px 30px;
    }
    
    .faq_bttns .bttn_border_gradient {
        margin-left: 0;
    }
    
    .faq_bttns {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:;
        align-items: center;
    }
    
    .faq_bttns :first-child a {
        padding: 15px 30px;
    }
    
    .accordion {
        width: 100%;
    }
    
    .email_input {
        width: auto;
    }

    .links_footer .pokies_best_logo {
        margin-left: 15px;
    }    
    /*
     .upper_bttn {
        top: 160px;
        left: 320px;
    }  
    */
    .most_popular h3 {
        font-size: 1rem;
    }
    
    div.background_left_arrow,
    div.background_right_arrow {
        width: 100%;
        height: 180%;
    }   
    
    .background_left_arrow {
        top: -120px;
    }
    
    .background_right_arrow {
        top: -140px;
        left: -20px;
    }

    .weeks_biggest_win_casino_logo {
        width: 80px;
        height: 80px;
    }

    .biggest_win {
        width: 120px;
        height: 50px;
    }

    .most_popular_game_logo {
        width: 80px;
        height: 80px;
    }
   
    .most_popular_game {
        margin-top: 120px;
    }
    
    .banner {
        left: -40px;
    }

    .banner h2 {
        left: 130px;
    }
    
    .banner_flex_contain,
    .welcome_banner .bttn_border_gradient {
        left: 120px;
    }
    
     .upper_bttn {
        top: -210px;
        left: 120px;
    }
    
    .subscribing_wrapper_flex_box .subscribing {
        padding: 20px;
    }
    
    .tooltip .tooltiptext {
        left: -140px;
    }
    
    .tooltip .tooltiptext::after {
        right: 80px;
    }
    
} /* ^^^ 420px ^^^ */

    


@media (max-width: 414px) {
    
    .welcome_banner  div.banner {
        width: 414px;
        left: -20px;
    }
    
    .welcome_banner .bttn_border_gradient {
        left: 140px;
    }
    
    .faq_contain,
    .panel {
        width: 394px;
    }
    
    footer {
        margin-left: 30px;
    }
    
    .links_footer {
        margin-left: 60px;
    }
    
    .subscribing_footer {
        padding-bottom: 15px;
    }
    
    /*
    div.background_right_arrow {
        max-width: 320px;
        background-position: center center;
        left: 80px;
        top: -100px;
    }
    */

} /* ^^^ 414px ^^^ */



@media (max-width: 375px) {
    
    .welcome_banner  div.banner {
        width: 375px;
        left: -20px;
    }
    
    .banner h2 {
        left: 120px;
    }
    
    .banner_flex_contain {
        left: 90px;
    }
    
    .welcome_banner .bttn_border_gradient {
        left: 120px;
    }
    
    .faq_contain,
    .panel {
        width: 355px;
    }
    
    footer {
        margin-left: 10px;
    }
    
    .links_footer {
        margin-left: 60px;
    }
    
    .games_list_item a img {
        width: 160px;
        height: 160px;
    }
    
    .games_list_images {
        height: 715px;
    }
    
} /* ^^^ 375px ^^^ */



@media (max-width: 320px) {
    
    .wrapper {
        width: 300px;
    }
    
    #header_bttn_ph_adapt {
        padding: 20px 30px; 
    }
    
    .description p {
        width: 220px;
    }
    
    .bttn {
        padding: 20px 10px;
    }
    
    .games_list_images {
        height: 2240px;
        padding-top: 15px;
    }
    
    .games_list a img {
        width: 260px;
        height: 260px;
    }
    
    .name_and_date_adaptive {
        flex-direction: column;
    }
    
    .reviews_date {
        margin-top: 5px;
    }
    
    .affiliate_programs_img {
        height: 445px;
    }
    
    .links_footer .pokies_best_logo {
        margin-left: 0px;
    }

    .email_input {
        width: 68%;
    }
    
    .welcome_banner .bttn_border_gradient {
        left: 100px;
    }
    
    .subscribing_wrapper_flex_box .subscribing {
        padding: 0;
    }
    
    .tooltip .tooltiptext {
        left: -100px;
    }
    
    .tooltip .tooltiptext::after {
        right: 120px;
    }
    
    .upper_bttn {
        left: 82px;
    }
    
    div.background_left_arrow,
    div.background_right_arrow {
        width: 100%;
        height: 180%;
    }   
    
    div.background_left_arrow {
        top: -140px;
    }
    
    div.background_right_arrow {
        background-size: cover;
        top: -110px;
        left: 40px;
    }
    
    .welcome_banner div.banner {
        width: 320px;
        left: -20px;
    }
    
    .banner h2 {
        left: 100px;
    }
    
    .banner_flex_contain {
        left: 65px;
    }
    
    .faq_contain,
    .panel {
        width: 300px;
    }
    
    footer {
        margin-left: -15px;
    }
    
    .subscribing_footer h3 {
        text-align: center;
    }
    
    div.subscribing_wrapper_flex_box .email_input, .subscribing_wrapper_flex_box .bttn_border_gradient {
        margin: 10px auto;
        
    }
    
    .links_footer {
        margin-left: 60px;
    }
 
}  /* ^^^ 320px ^^^ */
